.header__wrapper {
  margin-top: 3.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 300ms;
}

.header__wrapper_stuck {
  background: rgba(255, 255, 255, 0.8);
}
